<p>This is in recipes-list and the element down is app-recipe-item</p>
<div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success">New Recipe</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            
            <app-recipe-item 
            *ngFor = "let element of recipes; let i = index"
            [Receta]="element"
            (recipeSelected)="onRecipeSelected(element)"
            ></app-recipe-item>
        </div>
</div>